{% extends "base_site.html" %} 
{% block title %} 
人员信息列表 
{% endblock title %} 
{#父模板中body区块定义覆盖#} 
{% block body %}
{% comment %}
  使用div进行排版，每两个字段排列成一行的样式
{% endcomment %}
<div class="container">
<form method="post" role="form" class="form-horizontal">
    {% csrf_token %} 
    {% for field in form %}
        {% if forloop.counter0|divisibleby:"2" %}
            <div class="row">
        {% endif %}      

        <div class="col-2">
            {{ field.errors }} {{ field.label_tag }} 
        </div>

        <div class="col-2">
            {{ field }} 
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>        
        
        {% if not forloop.counter0|divisibleby:"2" %}
            </div>
        {% endif %}
    {% endfor %} 
</form>
</div>
{% endblock body %}