{% extends "base_site.html" %}
{% block title %} 
人员信息列表 
{% endblock title %} 
{#父模板中body区块定义覆盖#} 
{% block body %}
<!-- <table>
  <th>工号</th>
  <th>姓名</th>  <th>年龄</th>  <tr>    <td>B-1000</td>    <td>张三</td>    <td>25</td>  </tr>  <tr>    <td>B-1001</td>    
    <td>李四</td>    <td>24</td>  </tr>  <tr>    <td>B-1002</td>    <td>王五</td>    <td>23</td>  </tr>  <tr>    <td>B-1003</td>    <td>赵六</td>    <td>26</td>  </tr>  <tr>    <td>B-1004</td>
    <td>钱七</td>    <td>26</td>  </tr>
</table> -->
<table border="1" cellspacing="0" class="table-responsive-md table-bordered table-hover" >
    <caption>人员信息列表</caption>
    <thead class="thead-dark">
      <tr>
    <th>姓名</th>
    <th>工号</th>
    <th>华为工号</th>
    <th>手机</th>
    <th>身份证</th>
    <th>公司邮箱</th>
    <th>华为邮箱</th>
    <th>性别</th>
    <th>岗位</th>
    <th>入职日期</th>
    <th>部门</th>
    <th>业务线</th>
    <th>项目组</th>
    <th>籍贯省</th>
    <th>籍贯市</th>
    <th>婚姻状况</th>
    <th>员工住址</th>   
    <th>毕业院校</th>
    <th>学历</th>
    <th>专业</th>
    <th>毕业日期</th>
    <th>操作</th>
  </tr>
  </thead>
    {% for p in person_list %}
      <tr>
        <td>{{p.userName}} </td>
        <td> {{p.workNo}}</td>
        <td> {{p.workNoExt}}</td>
        <td> {{p.mobilePhone}}</td>
        <td> {{p.IDNo}}</td>
        <td> {{p.email}}</td>
        <td> {{p.emailExt}}</td>
        <td> {{p.sex}}</td>
        <td> {{p.level}}</td>
        <td> {{p.entryDate}}</td>
        <td> {{p.depart}}</td>
        <td> {{p.productUnit}}</td>
        <td> {{p.projectName}}</td>
        <td> {{p.provinceBirth}}</td>
        <td> {{p.cityBirth}}</td>
        <td> {{p.maritalStatus}}</td>
        <td> {{p.address}}</td>
        <td> {{p.graduatedSchool}}</td>
        <td> {{p.education}}</td>
        <td> {{p.profession}}</td>
        <td> {{p.graduatedDay}}</td>
        <td> 
          <a href="/HR/{{p.id}}">详细信息</a>
          <a href="/HR/del/{{p.id}}">删除</a>
        </td>
      </tr>
    {% endfor %}    
</table>

{% comment %}
  通用列表视图自带的分页功能对象，不需要自己在额外申明 
  https://blog.csdn.net/l475378094/article/details/76850725
{% endcomment %}
<div class="pagination">
<span class="step-links">
  {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_mumber}}"><<</a>
  {% endif %}
</span>
<span class="current">
   {{page_obj.number}}/{{paginator.num_pages}}
</span>
<span class="step-links">
{% if page_obj.has_next %}
  <a href="?page={{page_obj.next_page_number}}">>></a>
{% endif %}  
</span>

</div>
{{Author}}
{% endblock body %}