{% extends "base_site.html" %}
{% block title %} 
人员信息列表 
{% endblock title %} 
{#父模板中body区块定义覆盖#} 
{% block body %}
<!-- <table>
  <th>工号</th>
  <th>姓名</th>  <th>年龄</th>  <tr>    <td>B-1000</td>    <td>张三</td>    <td>25</td>  </tr>  <tr>    <td>B-1001</td>    
    <td>李四</td>    <td>24</td>  </tr>  <tr>    <td>B-1002</td>    <td>王五</td>    <td>23</td>  </tr>  <tr>    <td>B-1003</td>    <td>赵六</td>    <td>26</td>  </tr>  <tr>    <td>B-1004</td>
    <td>钱七</td>    <td>26</td>  </tr>
</table> -->
<table>
    <th>姓名</th>
    <th>工号</th>
    <th>华为工号</th>
    {% for p in person_list %}
      <tr>
        <td>{{p.userName}} </td>
        <td> {{p.workNo}}</td>
        <td> {{p.workNoExt}}</td>
        <td> {{p.mobilePhone}}</td>
        <td> {{p.IDNo}}</td>
        <td> {{p.email}}</td>
        <td> {{p.emailExt}}</td>
        <td> {{p.sex}}</td>
        <td> {{p.level}}</td>
        <td> {{p.entryDate}}</td>
        <td> {{p.depart}}</td>
        <td> {{p.productUnit}}</td>
        <td> {{p.projectName}}</td>
        <td> {{p.provinceBirth}}</td>
        <td> {{p.cityBirth}}</td>
        <td> {{p.maritalStatus}}</td>
        <td> {{p.address}}</td>
        <td> {{p.graduatedSchool}}</td>
        <td> {{p.education}}</td>
        <td> {{p.profession}}</td>
        <td> {{p.graduatedDay}}</td>
      </tr>
    {% endfor %}
</table>
{% endblock body %}